/* new css */

.demo-container {
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 0 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.demo-content img {
  width: calc(100% + 112px); 
  margin-left: -56px;
}


div.ingredients {
   width: 33%;
  border: 1px solid #424242;
  padding: 5px;
  margin: 5px;
  float: left;
}
