<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.theme.name }} - {{ page.title }}</title>
    <meta name="author" content="{{ site.theme.name }}" />
    <meta name="description" content="The blog of {{ site.theme.name }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="/assets/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ppmodulemailer</h1>
        <p>PpModuleMailer is a simple Zend Framework 2 module that allows you to create mail queue in sql database.</p>

        <p class="view"><a href="https://github.com/cobyl/PpModuleMailer">View the Project on GitHub <small>cobyl/PpModuleMailer</small></a></p>


        <ul>
          <li><a href="https://github.com/cobyl/PpModuleMailer/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/cobyl/PpModuleMailer/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/cobyl/PpModuleMailer">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
          {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/cobyl">cobyl</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/assets/javascripts/scale.fix.js"></script>
  </body>
</html>
