<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.theme.name }} - {{ page.title }}</title>
    <meta name="author" content="{{ site.theme.name }}" />
    <meta name="description" content="Blog {{ site.theme.name }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=324204131005455";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));</script>  
    <div class="wrapper">
      <header>
        {% include sidebar.html %}
      </header>
      <section>
        <h1>{{ page.title }}</h1>
        {{content}}
      </section>
      <footer>
          {% include footer.html %}
      </footer>
    </div>
    <script src="/assets/javascripts/scale.fix.js"></script>
    {% include analytics.html %}
  </body>
</html>
